version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: isp_postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: Supermetroid1.
      POSTGRES_USER: postgres
      POSTGRES_DB: isp_system_dev
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: isp_backend
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - NODE_ENV=development
      - DB_DIALECT=postgres
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=Supermetroid1.
      - DB_NAME=isp_system_dev
      - JWT_SECRET=tu_secret_super_seguro_cambiame_en_produccion
      - CORS_ORIGIN=http://localhost:8080,http://127.0.0.1:8080

  frontend:
    build: ./frontend
    container_name: isp_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - '8080:8080'
    depends_on:
      - backend
    environment:
      - NODE_ENV=development

volumes:
  postgres_data:
